extends ../includes/layout.ignore.pug
block content
    .container
        .container__row
            .container__col-6.container__col-sm-12.container__col--align-vertical
                img(src='../../img/contact.svg')
            .container__col-6.container__col-sm-12.container__col--align-vertical
                .container__row.container__row--justify-center.container__row--border
                    .container__col-12.container__col-marin-0.container__col-offset-4
                        h1(style='padding-bottom: 10%;') CONTACT PAGE
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laboriosam libero omnis distinctio eveniet cupiditate harum earum iure sapiente. Quis quo rerum architecto quidem, eaque minima eveniet rem! Ipsam, illo.
                        img(style='width: 100%;padding-top: 5%;' src='../../img/600x200.png')
