.container--fluid.grid
    .container__row
        .container__col-12.container__col--sm-hidden
            | col-12 [ 0 margin | and will be hidden in mobile]
    .container__row
        .container__col-6.container__col-sm-12
            | col-6 [0 margin | will become col-12 in mobil]
        .container__col-6.container__col-sm-12
            | col-6 [0 margin | will become col-12 in mobil]
    .container__row
        .container__col-4 col-4
        .container__col-4 col-4
        .container__col-4 col-4
    .container__row
        .container__col-3 col-3
        .container__col-3 col-3
        .container__col-3 col-3
        .container__col-3 col-3
    .container__row.container__row--childs-margin-0
        .container__col-2 col-2
        .container__col-2 col-2
        .container__col-2 col-2
        .container__col-2 col-2
        .container__col-2 col-2
        .container__col-2 col-2
    .container__row.container__row--childs-margin-0
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
        .container__col-1 col-1
    .container__row.container__row--childs-margin-0
        .container__col-1 col-1
        .container__col-2 col-2
        .container__col-6 col-6
        .container__col-2 col-2
        .container__col-1 col-1
